html {
    scroll-behavior: smooth;
}

/*=======NAV========*/

nav { 
    background: #ffffff;
    border-bottom: 3px solid #E8A87C; 
    
}

nav h3 {
    color: #333333;   
}

.navbar-brand {
    margin: -10px 0;
    font-family: 'Major Mono Display', monospace;
}


.nav-link {
    transition: .4s ease;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 15px 0; 
    margin: 0 5px;
}

.nav-item a:hover {
    color: #333333 !important; 
    padding: 5px 0;
    border-bottom: 3px groove #E8A87C;
    border-top: 3px groove #E8A87C;
    border-radius: 0px;
    margin-top: 12px;
}

.fa-bars {
    color: #ffffff;
    background: #E8A87C; 
    padding: 5px;
    border-radius: 4px;
}


/*=======JumboTron========*/

#jbImg {
    margin-top: -65px;
    margin-bottom: -65px;
    filter: brightness(55%);
}

.jumbotron {
    position: relative;
    overflow: hidden;
    font-family: 'Satisfy', cursive;
    letter-spacing: 1.2px;
}

.jbText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge{
    font-family: Arial, Helvetica, sans-serif;
    background: #E8A87C;
    color: #ffffff;
    font-size: 30px;
    transition: .4s ease;
}

.badge:hover {
    font-size: 32px;
}

.jbText a:hover{
    color: #ffffff;
}

/*=======Portfolio Section========*/

#portContainer {
    margin-top: 200px;
    margin-bottom: 200px;
}

#portContainer h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin-top: 60px;
}

.blankCard:hover {
    background: none !important;
}

.blankCard {
    border: none;
}

#portSubHeading {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
}

.card {
    transition: .4s ease;
}

.card-body small {
    transition: .4s ease;
}

.card:hover {
    background: #E8A87C; 
    filter: drop-shadow(8px 8px 10px rgb(160, 159, 159));
}

.card img:hover {
    filter: sepia(40%);
}

.card small:hover {
    font-size: 16px;
}

/*=======About Section========*/

#aboutContainer {
    margin-top: 150px;
    padding-bottom: 100px;
}

#aboutContainer p {
    font-size: 20px;
}

#aboutContainer small {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
}

#aboutHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 100px;
}

/*=======Footer and Contact Section========*/

#footer {
    background: #0a0a0a;
    border-top: 3px solid #E8A87C;
}

#footer a:hover {
    color: #E8A87C !important; 
}

#footer p {
    font-size: 14px;
}

.fas {
    font-size: 24px;
}

.far {
    font-size: 24px;
}

.fab { 
    font-size: 30px; 
}

.socialLinks a:hover {
    color: #ffffff !important;
}





/*============= Media Queries=================*/

@media screen and (max-width: 425px){

    .navbar-brand h3{
        font-size: 24px;
    }
    
    .fa-bars {
        margin-right: -20px;
    }

    #jbImg { 
        margin-top: -32px;
        min-width: 950px;
        height: auto;
    }

    .jumbotron p {
        font-size: 30px;
    }

    .badge {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .jbText{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .jbText a:hover{
        font-size: 16px;
    }

    #emailLogo {
        display: none;
    }

    .fab {
        font-size: 45px;
    }

    
}