nav{ 
    background: #0a0a0a;
}

nav h3{
    color: #E8A87C; 
}
.navbar-brand{
    font-family: 'Major Mono Display', monospace;
}

.nav-item a:hover{
    color: #E8A87C !important; 
}

#jbImg{
    margin-top: -65px;
    margin-bottom: -65px;
    filter: brightness(65%);
}

.jumbotron{
    position: relative;
}

.jumbotron{
    font-family: 'Major Mono Display', monospace;
}

.jbText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portContainer{
    margin-top: 100px;
}

.card:hover{
    background: #E8A87C; 
    filter: drop-shadow(8px 8px 10px gray);
}

.card img:hover{
    filter: sepia(40%);
}

.card small:hover{
    font-size: 16px;
}


/*============= Media Queries=================*/

@media screen and (max-width: 425px){
    
    #jbImg{
        margin-top: -32px;
    }
}